menu "Configurações MQTT / FIWARE (Estação)"

    config MQTT_BROKER_HOST
        string "MQTT Broker Host"
        default "smart.quixada.ufc.br"
        help
            Endereço do servidor MQTT.

    config MQTT_BROKER_PORT
        int "MQTT Broker Port"
        default 50001

    config FIWARE_API_KEY
        string "FIWARE API Key"
        default "scggokgpepnvsb2uv4s40d5912"

    config FIWARE_DEVICE_ID
        string "FIWARE Device ID"
        default "pluvio_esp32_01"

endmenu